.diceWrapper {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.dicePanel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 85%;
	width: 90%;
	margin-right: 10%;
	margin-bottom: 20px;
}
.dicer {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	padding: 2px;
	border-radius: 10px;
	margin: 5px 5px;
	background-color: white;
	cursor: pointer;
}

.dot {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
	margin: 3px;
	padding: 5px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}
